<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- our css -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles.css" Type="text/css" media="all">
    <!-- Title -->
    <title>Recipes page</title>
</head>
<body>
<h2 class="text-center">Recipe Page</h2>
<!-- Recipe Content Area -->
<div class="recipe-content-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="recipe-headline my-5">
                    <h2>
                        Recipe: Pull pork sandwich <!--templating here to replace "Pull pork sandwich"-->
                    </h2>
                </div>
            </div>
        </div>
        <!-- Ingredients -->
        <div class="container">
        <div class="row">
            <div class="ingredients col-4">
                <h4>Ingredients</h4>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">4 Tbsp (ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">(ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">(ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">(ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">(ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">(ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">(ingredient goes here)</label>
                </div>
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">(ingredient goes here)</label>
                </div>
            </div>
        <div class="col-8">
        <!-- Recipe photo -->
            <img class="" src="images/tacos.jpg" alt="tacos"  width="700" height="450" align="">
        </div>
        </div>
<!--    -->
            <br>
        <div class="row">
            <div class="col-12 col-lg-8">
                <!--Preparation Step -->
                <h5>Step by Step:</h5>
                <div class="single-preparation-step d-flex">
                    <!--Templating here -->
                    <h4>01.</h4>
                    <p>
                        <!--Handle bars will be added here to replace dummy text-->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui.
                        Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis.
                        Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <!-- Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>02.</h4>
                    <p>
                        <!--Handle bars will be added here to replace dummy text-->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui.
                        Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis.
                        Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus.
                        rci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <!-- Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>03.</h4>
                    <p>
                        <!--Handle bars will be added here to replace dummy text-->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui.
                        Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis.
                        Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <!-- Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>04.</h4>
                    <p>
                        <!--Handle bars will be added here to replace dummy text-->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui.
                        Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis.
                        Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>